<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="row">
	<div class="col-6">
		<div class="card mb-3">
			<img
				src="<%= camp.image %>"
				class="card-img-top"
				style="background-position: center"
				alt="..."
			/>
			<div class="card-body">
				<h5 class="card-title"><%= camp.title %></h5>
				<p class="card-text"><%= camp.description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-secondary">
					<%= camp.location %>
				</li>
				<li class="list-group-item">
					Submitted by <%= camp.author.username %>
				</li>
				<li class="list-group-item">$<%= camp.price %></li>
			</ul>

			<% if(currentUser && camp.author.equals(currentUser._id)) { %>
			<div class="card-body">
				<a
					href="/campgrounds/editCamp/<%= camp._id %>"
					class="card-link btn btn-warning"
					>Edit Camp</a
				>
				<form
					action="/campgrounds/deleteCamp/<%= camp._id %>?_method=DELETE"
					method="POST"
					class="d-inline"
				>
					<button type="submit" class="btn btn-danger">
						Delete Camp
					</button>
				</form>
			</div>
			<% } %>

			<div class="card-footer text-secondary">2 days ago</div>
		</div>
	</div>
	<div class="col-6">
		<% if(currentUser) { %>
		<h2>Leave a Review</h2>
		<form
			action="/campgrounds/<%= camp._id %>/reviews"
			method="POST"
			class="mb-3 needs-validation"
			novalidate
		>
			<!-- <div class="mb-3">
				<label for="rating" class="form-label">rating</label>
				<input
					type="range"
					name="rating"
					id="range"
					min="1"
					max="5"
					class="form-range"
				/>
			</div> -->
			<div class="mb-3">
				<fieldset class="starability-basic">
					<input
						type="radio"
						id="no-rate"
						class="input-no-rate"
						name="rating"
						value="1"
						checked
						aria-label="No rating."
					/>
					<input
						type="radio"
						id="first-rate1"
						name="rating"
						value="1"
					/>
					<label for="first-rate1" title="Terrible">1 star</label>
					<input
						type="radio"
						id="first-rate2"
						name="rating"
						value="2"
					/>
					<label for="first-rate2" title="Not good">2 stars</label>
					<input
						type="radio"
						id="first-rate3"
						name="rating"
						value="3"
					/>
					<label for="first-rate3" title="Average">3 stars</label>
					<input
						type="radio"
						id="first-rate4"
						name="rating"
						value="4"
					/>
					<label for="first-rate4" title="Very good">4 stars</label>
					<input
						type="radio"
						id="first-rate5"
						name="rating"
						value="5"
					/>
					<label for="first-rate5" title="Amazing">5 stars</label>
				</fieldset>
			</div>
			<div class="mb-3">
				<label class="form-label" for="body">Review Text</label>
				<textarea
					name="body"
					id="body"
					cols="30"
					rows="3"
					class="form-control"
					required
				></textarea>
				<div class="valid-feedback">Looks Good!</div>
			</div>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
		<% } %> <% for(let review of camp.reviews) { %>
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title text-secondary">
					By <%= review.author.username %>
				</h5>
				<p
					class="starability-result"
					data-rating="<%= review.rating %>"
				>
					Rated: <%= review.rating %> stars
				</p>

				<p class="card-text">Review : <%= review.body %></p>
				<% if(currentUser && review.author.equals(currentUser._id)) { %>
				<form
					action="/campgrounds/<%= camp._id %>/reviews/<%= review._id %>?_method=DELETE"
					method="POST"
				>
					<button class="btn btn-sm btn-danger">Delete</button>
				</form>
				<% } %>
			</div>
		</div>
		<% } %>
	</div>
</div>
